doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Innpactia
		link(rel="stylesheet", type="text/css", href="../css/estilos.css")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css")
	body
		include ../components/Header/template.jade
		//- include ../components/Menu/template.jade
		include ../components/Banner/template.jade
		include ../components/How/template.jade
		include ../components/Cifras/template.jade
		include ../components/SliderColor/template.jade
		include ../components/SliderUni/template.jade
		include ../components/SliderBlue/template.jade
		include ../components/ValorMarca/template.jade
		include ../components/Share/template.jade
		include ../components/Footer/template.jade
		include ../components/Registro/template.jade
		include ../components/Menu-lateral/template.jade
		// build:js ../js/combined.js
		script("text/javascript", src="../js/jquery-2.2.1.min.js")
		script("text/javascript", src="../js/jquery.easing.1.3.js")
		script("text/javascript", src="../js/owl.carousel.min.js")
		script("text/javascript", src="../js/remodal.min.js")
		//- script("text/javascript", src="../js/scrollreveal.min.js")
		script("text/javascript", src="../js/functions.js")
		// endbuild