/*MENU MOVIL*/

.Menu
	display none
	width 100%
	background $blue
	// position fixed
	position absolute
	top 46px
	left 0
	right 0
	z-index 99999

	&-list
		list-style none
		padding 0
		margin 0 0
		overflow-x hidden
		display inline-block
		width 100%
	&-item
		width 100%
		height 2em
		line-height 2em
		padding 0 5%
		
		&:hover
			background $blue8	
		
	&-link
		cursor pointer
		display inline-block
		width 100%
		height 100%
		color $white
@media screen and (min-width:720px)
	.Menu
		display none !important