section.SliderUni
	div.u-centrar
		div.SliderUni-item
			div.SliderUni-izq
				h3.SliderUni-title
					|	Investigación
				p.SliderUni-txt
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero labore a expedita iusto laudantium obcaecati blanditiis, tempore asperiores sequi ratione ex rerum quia, aliquam incidunt. Est earum non adipisci.
			div.SliderUni-der
				img.SliderUni-img(src="../images/01-index/logo-unicef.png")