section.SliderUni
	div.u-centrar
		div.SliderUni-list
			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Investigación
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero labore a expedita iusto laudantium obcaecati blanditiis, tempore asperiores sequi ratione ex rerum quia, aliquam incidunt. Est earum non adipisci.
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")

			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Premios
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, necessitatibus vitae officiis architecto accusantium praesentium harum debitis corporis dolorem sapiente a ratione ad, unde ipsa expedita voluptatibus, eius esse corrupti?
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")

			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Oferentes
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quibusdam, laborum, tempore consequuntur perferendis praesentium velit et molestiae eveniet ut, quas nobis vel delectus. Explicabo voluptas iusto, cumque. Alias, temporibus.
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")

			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Cursos
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati officiis hic cumque maiores voluptates distinctio enim dignissimos nemo cum, veniam fugiat temporibus sapiente. Molestiae amet aspernatur, incidunt in aliquid.
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")

			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Cursos
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati officiis hic cumque maiores voluptates distinctio enim dignissimos nemo cum, veniam fugiat temporibus sapiente. Molestiae amet aspernatur, incidunt in aliquid.
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")

			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Cursos
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati officiis hic cumque maiores voluptates distinctio enim dignissimos nemo cum, veniam fugiat temporibus sapiente. Molestiae amet aspernatur, incidunt in aliquid.
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")

			div.SliderUni-item
				div.SliderUni-izq
					h3.SliderUni-title
						|	Cursos
					p.SliderUni-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati officiis hic cumque maiores voluptates distinctio enim dignissimos nemo cum, veniam fugiat temporibus sapiente. Molestiae amet aspernatur, incidunt in aliquid.
				div.SliderUni-der
					img.SliderUni-img(src="../images/01-index/logo-unicef.png")