section.Cifras
	div.u-centrar
		h2.Cifras-title
			| Incrementa tus alternativas y oportunidades
		p.Cifras-txt
			|	Planifica mejor conociendo el escenario estratégico ideal
		div.Cifras-list
			div.Cifras-item
				img.Cifras-img(src="../images/01-index/inv-latam.png")
				p.Cifras-itemTxt
					|	Inversión LaTam $1.500.000.000
			div.Cifras-item
				img.Cifras-img(src="../images/01-index/oportunidad.png")
				p.Cifras-itemTxt
					|	Oportunidades
			div.Cifras-item
				img.Cifras-img(src="../images/01-index/usuarios.png")
				p.Cifras-itemTxt
					|	Usuarios