footer.Footer
	div.u-centrar
		div.Footer-row
			nav.Footer-menu1
				ul.Footer-list
					li.Footer-item
						a.Footer-link(href="int_planes.html")
							|	Planes
					li.Footer-item
						a.Footer-link
							|	Blog
					li.Footer-item
						a.Footer-link
							|	Aliados
					li.Footer-item
						a.Footer-link
							|	Nosotros
			nav.Footer-menu2
				ul.Footer-list
					li.Footer-item
						a.Footer-link
							|	Innpactia en los medios
					li.Footer-item
						a.Footer-link(href="int_trabaja.html")
							|	Trabaja con nosotros
					li.Footer-item
						a.Footer-link(href="int_contacto.html")
							|	Contacto
			div.Footer-redes
				a.Footer-redesItem
					span.fa.fa-facebook.fa-2x
				a.Footer-redesItem
					span.fa.fa-twitter.fa-2x
				a.Footer-redesItem
					span.fa.fa-linkedin.fa-2x
				a.Footer-redesItem
					span.fa.fa-rss.fa-2x
				a.Footer-redesItem
					span.fa.fa-dribbble.fa-2x
		div.Footer-copy
			p.Footer-txt
				|	Todos los Derechos Reservados 2016 Innpactia
		div.Footer-back
			span.Footer-backIcon
				i.fa.fa-angle-up.fa-3x(aria-hidden="true")