/*PREGUNTAS*/

.Preguntas
	display inline-block
	width 100%	
	min-height 100vh
	background url('../images/06-trabaja/logo_innpactia_big.png') center left no-repeat
	// background url('../images/04-planes/Fondo_Planes.jpg') center top no-repeat
	// background-size cover
	background-attachment fixed
	float left
	position absolute
	top 0
	left -100%
	z-index 1
	
	& .u-centrar
		min-height 100vh

	&-container
		display inline-block
		vertical-align middle
		width 100%
		min-height 91vh
		background #E6E6E6
		padding-bottom 68px
		
	&-head
		display inline-block
		width 100%		
		background $white		
		
	&-headC
		display inline-block
		width 95%
		margin 15px 2.5%
		line-height 51px		
		
	&-title
		font-size 24px
		color $gray2		
		vertical-align middle
		margin 0		
		
	&-buscador
		display inline-block		
		vertical-align middle		
		
	&-btnBuscar
		border none
		background #27348B url('../images/07-preguntas/lupa.png') center no-repeat
		width 51px
		height 51px
		margin 0
		padding 0
		float left
		vertical-align middle
		
	&-input
		border none
		border 3px solid #27348B
		box-sizing border-box
		padding .2em
		text-align center
		font-size 14px
		color #808080
		margin 0
		float left
		vertical-align middle
		width 270px
		height 51px
		
		&::-webkit-input-placeholder
			color #808080
			font-size 14px
		&::-moz-placeholder
			color #808080
			font-size 14px
		&:-moz-placeholder
			color #808080
			font-size 14px
		&:-ms-input-placeholder
			color #808080
			font-size 14px
			
	&-list
		display inline-block
		width 95%
		margin 20px 2.5%
		
	&-item		
		background $white
		border-bottom 3px solid $gray2		
		padding 8px 10px
		box-sizing border-box

	&-itemHead		
		cursor pointer  		
		display inline-block
		width 100%
		position relative
		min-height 50px
		
	&-itemTitleContainer		
		float left		
		width 92%
		line-height 22px
		display table
		top 0
		height 50px
	
	&-imgContainer			
		display inline-block		
		vertical-align middle
		
	&-imgContainer
		width 52px
		margin-right 6px
		margin-left -2px	
		
	&-itemTitle		
		margin 0
		padding 0
		vertical-align middle
		font-size 18px
		color $gray2		
		display table-cell
		height 52px
		line-height 22px
		font-weight 400
		
		& span
			display table-cell
			margin 0
			padding 0
			vertical-align middle
			width 514px
			height 52px
			line-height 22px
			text-align left
		
	&-arrowContainer
		vertical-align middle		
		width 21px
		height 21px
		position absolute
		right 4px
		top 50%
		margin-top -10px
		
	&-itemContent
		display none
		text-align left
		box-sizing border-box
		margin 0 10px
		padding-top 5px
		
		& p
			font-size 15px
			color $gray2
			text-align left
			
		& p img
			width 100%
			height 100%
			
		& a
			color #213F99
			cursor pointer
			
@media screen and (min-width:480px)
	.Preguntas
		&-headC
			margin 20px 2.5%
		&-title
			font-size 27px
		&-itemTitle
			font-size 21px			
		&-list
			margin 30px 2.5%
		&-itemContent
			& p
				font-size 18px
			
@media screen and (min-width:720px)
	.Preguntas
		&-headC
			margin 30px 2.5%
		&-title
			font-size 30px
		&-itemTitle
			font-size 24px
			& span
				width 820px
		&-list
			margin 45px 2.5%
		&-itemContent
			& p
				font-size 21px
		&-arrowContainer
			right 8px
			
@media screen and (min-width:768px)
	.Preguntas
		&-itemContent
			margin-left 60px
			padding-right 15px
@media screen and (min-width:840px)
	.Preguntas
		&-arrowContainer
			right 12px
		
@media screen and (min-width:1024px)
	.Preguntas
		&-headC
			margin 40px 2.5%
		&-title
			float left
			font-size 30px
		&-itemTitle
			font-size 22px
			
			& span
				width 945px
				line-height 35px
			
		&-buscador
			float right
			
		&-list
			margin 65px 2.5%
			
		&-itemContent
			// margin-left 95px
			padding-right 35px

			& p
				font-size 21px
		&-arrowContainer
			right 16px
			
@media screen and (min-width:1280px)
	.Preguntas
		&-headC
			margin 40px 2.5%
		&-title
			float left
			font-size 30px
			
		&-itemTitle
			font-size 22px
			
		&-buscador
			float right
			
		&-list
			margin 80px 2.5%
			
		&-itemContent
			& p
				font-size 21px
@media screen and (min-width:1350px)
	.Preguntas
		&-headC
			margin 40px 2.5%
		&-title
			float left
			font-size 30px
			
		&-itemTitle
			font-size 22px
			
		&-buscador
			float right
			
		&-list
			margin 80px 2.5%
			
		&-itemContent
			& p
				font-size 21px