section.Preguntas
	div.u-centrar
		div.Preguntas-container
			div.Preguntas-head
				div.Preguntas-headC
					h2.Preguntas-title
						|	Preguntas Frecuentes
					div.Preguntas-buscador
						input.Preguntas-btnBuscar(type="button",name="buscar")
						input.Preguntas-input(type="text",name="palabra", placeholder="Introduce un término de búsqueda aquí")
			div.Preguntas-list
				div.Preguntas-item
					div.Preguntas-itemHead
						div.Preguntas-itemTitleContainer
							div.Preguntas-imgContainer
								img.Preguntas-img(src="../images/07-preguntas/pregunta.png")
							h2.Preguntas-itemTitle
									|	Qué es innpactia?
						div.Preguntas-arrowContainer
							img.Preguntas-arrow(src="../images/07-preguntas/arrow-down.png")
					div.Preguntas-itemContent
						p
							|	Innpactia es una aplicación web que opera como un motor de búsqueda especializado en la identificación de ofertas de apoyo y financiación a actividades de construcción de desarrollo para América Latina.
				div.Preguntas-item
					div.Preguntas-itemHead
						div.Preguntas-itemTitleContainer
							div.Preguntas-imgContainer
								img.Preguntas-img(src="../images/07-preguntas/pregunta.png")
							h2.Preguntas-itemTitle
									|	¿Cómo funciona innpactia?
						div.Preguntas-arrowContainer
							img.Preguntas-arrow(src="../images/07-preguntas/arrow-down.png")
					div.Preguntas-itemContent
						p
							|	El uso de innpactia es intuitivo y accesible, ingresa a esta <a href="">infografía</a>.
