section.ValorMarca
	div.u-centrar
		div.ValorMarca-row
			div.ValorMarca-column
				div.ValorMarca-item
					div.ValorMarca-imgContainer
						img.ValorMarca-img(src="../images/01-index/cruz.png")
					div.ValorMarca-txt
						h4.ValorMarca-title
							|	Disminución de tiempos para llegar a la información
						p.ValorMarca-desc
							|	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnants
				div.ValorMarca-item
					div.ValorMarca-imgContainer
						img.ValorMarca-img(src="../images/01-index/text.png")
					div.ValorMarca-txt
						h4.ValorMarca-title
							|	Incrementa el número de información
						p.ValorMarca-desc
							|	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnants
				div.ValorMarca-item
					div.ValorMarca-imgContainer
						img.ValorMarca-img(src="../images/01-index/bell.png")
					div.ValorMarca-txt
						h4.ValorMarca-title
							|	Mejor conocimiento del escenario a participar
						p.ValorMarca-desc
							|	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnants
			div.ValorMarca-column
				div.ValorMarca-item
					div.ValorMarca-imgContainer
						img.ValorMarca-img(src="../images/01-index/copa.png")
					div.ValorMarca-txt
						h4.ValorMarca-title
							|	Amplia tus expectativas de desarrollo
						p.ValorMarca-desc
							|	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnants
				div.ValorMarca-item
					div.ValorMarca-imgContainer
						img.ValorMarca-img(src="../images/01-index/batery.png")
					div.ValorMarca-txt
						h4.ValorMarca-title
							|	Incrementa la efectividad
						p.ValorMarca-desc
							|	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnants
				div.ValorMarca-item
					div.ValorMarca-imgContainer
						img.ValorMarca-img(src="../images/01-index/nube.png")
					div.ValorMarca-txt
						h4.ValorMarca-title
							|	Múltiples oportunidades en tiempo real
						p.ValorMarca-desc
							|	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnants