section.Nosotros
	div.u-centrar
		div.Nosotros-container
			h1.Nosotros-title
				|	Nosotros
			div.Nosotros-list
				div.Nosotros-item
					div.Nosotros-circle
						img(src="../images/03-nosotros/logoportunidades1.png")
					div.Nosotros-itemTxt
						p
							|	Oportunidades nace con la convicción de que SI HAY apoyo y oportunidades para quienes quieran cambiar el mundo; Oportunidades tiene como objetivo conectar a todos los entes que trabajan por el desarrollo de Colombia y América Latina. Su primer desarrollo es la investigación, clasificación y publicación de oportunidades abiertas para Colombia.
					div.Nosotros-union

				div.Nosotros-item
					div.Nosotros-circle
						img(src="../images/03-nosotros/mintic.png")
					div.Nosotros-itemTxt
						p
							|	Terminando el 2014, Innpactia fue seleccionado por el programa Apps.co del MinTic para ser parte del proceso de aceleración y consolidación de modelos de startups digitales. Este programa de aceleración nos lleva a nuevos retos y cambios para llegar a mas usuarios; se desarrolla la plataforma para América Latina y empieza un nuevo camino de comunicación regional y digital.
					div.Nosotros-union

				div.Nosotros-item
					div.Nosotros-circle
						img(src="../images/03-nosotros/logoazai.png")
					div.Nosotros-itemTxt
						p
							|	Azaí Consultores está comprometido con que aquellos que trabajan por el desarrollo de América Latina aumenten su impacto y mejoren su gestión. Es por esto que Azaí diseñó Oportunidades; la plataforma ideal para que todo aquel que quiera cambiar el mundo, pueda acceder a oportunidades de desarrollo y financiación.
					div.Nosotros-union

				div.Nosotros-item
					div.Nosotros-circle
						img(src="../images/03-nosotros/logoC.png")
					div.Nosotros-itemTxt
						p
							|	En el 2013 Oportunidades fue uno de los proyectos ganadores del *Concurso Ventures* en la categoría de Impacto Social patrocinada por el banco suizo UBS. Gracias a este premio se obtienen recursos para implementar nuevas funcionalidades y mejoras a la herramienta entre ellas un renovado sitio web.
					div.Nosotros-union

				div.Nosotros-item
					div.Nosotros-circle
						img(src="../images/03-nosotros/innpactia-sin-bordes.png")
					div.Nosotros-itemTxt
						p
							|	Innpactia nace como plataforma freemium en febrero de 2014. En conjunto con el lanzamiento de su nueva marca se abre la plataforma a usuarios de América Latina y presenta su formato free que permite a todos los usuarios que quieran registrarse, ver sin costo alguno las convocatorias que vencen en los próximos 5 días y empieza su desarrollo de nuevas herramientas que permitan tejer desarrollo en la región.
				div.Nosotros-imagenInfo
					img(src="../images/03-nosotros/infografia-nosotros-imagen.jpg")