section.Nosotros
	div.u-centrar
		div.Nosotros-container
			div.Nosotros-list
				div.Nosotros-item
					img(src="../images/03-nosotros/logoportunidades1.png")
					div.Nosotros-itemTxt
						p
							|	Oportunidades nace con la convicción de que SI HAY apoyo y oportunidades para quienes quieran cambiar el mundo; Oportunidades tiene como objetivo conectar a todos los entes que trabajan por el desarrollo de Colombia y América Latina. Su primer desarrollo es la investigación, clasificación y publicación de oportunidades abiertas para Colombia.

				div.Nosotros-item
					img(src="../images/03-nosotros/mintic.png")

				div.Nosotros-item
					img(src="../images/03-nosotros/logoazai.png")

				div.Nosotros-item
					img(src="../images/03-nosotros/logoC.png")

				div.Nosotros-item
					img(src="../images/03-nosotros/innpactia-sin-bordes.png")