div.RedesInt
	ul.RedesInt-all
		li.RedesInt-item
			a.RedesInt-aBtn(href="")
				img.RedesInt-img(src="../images/06-trabaja/facebook-logo.png")
		li.RedesInt-item
			a.RedesInt-aBtn(href="")
				img.RedesInt-img(src="../images/06-trabaja/twitter-letter-logo.png")
		li.RedesInt-item
			a.RedesInt-aBtn(href="")
				img.RedesInt-img(src="../images/06-trabaja/linked-in-logo.png")
		li.RedesInt-item
			a.RedesInt-aBtn(href="")
				img.RedesInt-img(src="../images/06-trabaja/social-rss.png")
		li.RedesInt-item
			a.RedesInt-aBtn(href="")
				img.RedesInt-img(src="../images/06-trabaja/dribble-logo.png")