section.How
	div.u-centrar
		h1.How-title
			|	Cómo funciona
		div.How-list
			div.How-item
				img.How-img(src="../images/01-index/step1.png")
				h3.How-itemTitle
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				p.How-txt
					|	Aspernatur in maiores aliquid, officia voluptates rem earum inventore adipisci quasi laboriosam, accusamus consequuntur, magnam provident sapiente! In, totam, qui. Ratione, veritatis.
			div.How-item
				img.How-img(src="../images/01-index/step2.png")
				h3.How-itemTitle
					|	Lorem ipsum dolor sit amet
				p.How-txt
					|	Aspernatur in maiores aliquid, officia voluptates rem earum inventore adipisci quasi laboriosam, accusamus consequuntur, magnam provident sapiente! In, totam, qui. Ratione, veritatis.
			div.How-item
				img.How-img(src="../images/01-index/step3.png")
				h3.How-itemTitle
					|	Lorem ipsum dolor
				p.How-txt
					|	Aspernatur in maiores aliquid, officia voluptates rem earum inventore adipisci quasi laboriosam, accusamus consequuntur, magnam provident sapiente! In, totam, qui.
		p.How-desc
			a.How-descLink(href="#")
				|	Infórmate
			|	sobre la plataforma que nos ha acercado al mundo de la cooperación internacional.
		a.How-closeBtn
			span.fa.fa-times