section.Banner
	div.Banner-slider
		div.Banner-item
			div.Banner-imageContainer
				img.Banner-image(src="../images/01-index/banner1.jpg")
			div.Banner-text
				div.Banner-textContainer
					h2.Banner-title
						|	MÁS RECURSOS PARA TUS CAUSAS
					p.Banner-p
						|	Conéctate con cientos de organizaciones y accede a más de 2500 fuentes de apoyo y financiación
					a.Banner-btn(href="")
						|	Cómo funciona
	div.Banner-search
		fieldset.Banner-field
			input.Banner-input(type="text",name="palabra", placeholder="Palabra(s) clave(s)...")
			input.Banner-btnBuscar(type="button",name="buscar")
		nav.Banner-menu
			ul.Banner-menulist
				li.Banner-menuItem.bg-blue1
					a.Banner-menuLink
						|	Todo
				li.Banner-menuItem.bg-blue2
					a.Banner-menuLink
						|	Subvenciones
				li.Banner-menuItem.bg-blue3
					a.Banner-menuLink
						|	Licitaciones
				li.Banner-menuItem.bg-blue4
					a.Banner-menuLink
						|	Cursos
				li.Banner-menuItem.bg-blue5
					a.Banner-menuLink
						|	Investigación
				li.Banner-menuItem.bg-blue6
					a.Banner-menuLink
						|	Premios
				li.Banner-menuItem.bg-blue7
					a.Banner-menuLink
						|	Oferentes