section.SliderBlue
	div.u-centrar
		div.SliderBlue-list
			div.SliderBlue-item
				div.SliderBlue-izq
					img.SliderBlue-img(src="../images/01-index/people1.jpg")
				div.SliderBlue-der
					p.SliderBlue-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero labore a expedita iusto laudantium obcaecati blanditiis, tempore asperiores sequi ratione ex rerum quia, aliquam incidunt. Est earum non adipisci.
					p.SliderBlue-autor
						|	Juan Carlos Lozano
						span.SliderBlue-autorD
							|	, CEO Innpactia

			div.SliderBlue-item
				div.SliderBlue-izq
					img.SliderBlue-img(src="../images/01-index/people2.jpg")
				div.SliderBlue-der
					p.SliderBlue-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ipsum assumenda cupiditate asperiores expedita ipsam eius, eligendi alias, optio quibusdam nulla nostrum hic, vel deserunt modi pariatur quia, sit fugit!
					p.SliderBlue-autor
						|	Lucy Ordoñez
						span.SliderBlue-autorD
							|	, Ejecutiva Innpactia

			div.SliderBlue-item
				div.SliderBlue-izq
					img.SliderBlue-img(src="../images/01-index/people1.jpg")
				div.SliderBlue-der
					p.SliderBlue-txt
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quibusdam eveniet nostrum rem hic pariatur voluptates incidunt, quas neque reiciendis odio dolorum est iste eius possimus id sunt distinctio? Dolore.
					p.SliderBlue-autor
						|	Manuel Armando
						span.SliderBlue-autorD
							|	, Ventas Innpactia