section.SliderBlue
	div.u-centrar
		div.SliderBlue-item
			div.SliderBlue-izq
				img.SliderBlue-img(src="../images/01-index/people1.jpg")
			div.SliderBlue-der
				p.SliderBlue-txt
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero labore a expedita iusto laudantium obcaecati blanditiis, tempore asperiores sequi ratione ex rerum quia, aliquam incidunt. Est earum non adipisci.
				p.SliderBlue-autor
					|	Juan Carlos Lozano
					span.SliderBlue-autorD
						|	, CEO Innpactia