section.Planes#planes
	div.u-centrar
		div.Planes-container
			h2.Planes-title
				| PLANES
			div.Planes-table
				img.Planes-img(src="../images/04-planes/tabla-planes.png")
			//- p.Planes-txt
			//- 	|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, corrupti. Culpa minus magnam non perferendis, qui laudantium dignissimos eaque maxime obcaecati animi, maiores delectus voluptatum possimus excepturi dolorum minima perspiciatis.
			//- div.Planes-table
			//- 	img.Planes-img(src="http://lorempixel.com/800/600/")
			div.Planes-actions
				div.Planes-btnContainer
					a.Planes-btn(href="")
						|	ADQUIÉRELO
				div.cont_gen_terminos
					div.cont_gen_terminos-right
						a(href="")
							|	Acepto los Términos y Condiciones
						input.check_terminos(type="checkbox")
			p.Planes-txt
				|	• Rastreamos más de 2500 fuentes de financiación y apoyo para el desarrollo en América Latina.
			p.Planes-txt
				|	• Contamos con 1150 organizaciones suscritas, de 13 países.
			p.Planes-txt
				|	• En promedio tenemos siempre 389 ofertas vigentes simultáneamente.
			//- div.Planes-btnContainer
			//- 	a.Planes-btn(href="")
			//- 		|	ADQUIÉRELO