section.Planes#planes
	div.u-centrar
		div.Planes-container
			h2.Planes-title
				| PLANES
			p.Planes-txt
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, corrupti. Culpa minus magnam non perferendis, qui laudantium dignissimos eaque maxime obcaecati animi, maiores delectus voluptatum possimus excepturi dolorum minima perspiciatis.
			div.Planes-table
				img.Planes-img(src="http://lorempixel.com/800/600/")
			p.Planes-txt
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere placeat quisquam corrupti consectetur eos quae, deleniti aspernatur, tenetur vel rerum, explicabo, eius porro enim. Consequatur neque, cum atque dolorum nihil!
			div.Planes-btnContainer
				a.Planes-btn(href="")
					|	ADQUIÉRELO