section.Medios#medios
	div.u-centrar
		div.Medios-container
			div.Medios-item
				div.Medios-img
					img(src="../images/05-medios/ccit-logo.jpg")
				div.Medios-fecha
					div.Medios-line
					div.Medios-date
						|	CCIT | 26/05/2015
				div.Medios-content
					h3.Medios-title
						|	Innpactia,
					p
						|	Emprendimiento para emprendedores.
				div.Medios-btnContainer
					a(href="#")
						|	Leer más
			div.Medios-item
				div.Medios-img
					img(src="../images/05-medios/dinero-logo.jpg")
				div.Medios-fecha
					div.Medios-line
					div.Medios-date
						|	PAIS | 02/05/2015
				div.Medios-content
					h3.Medios-title
						|	Sí hay plata para proyectos de desarrollo
					p
						|	En Colombia sí hay recursos para la financiación de proyectos de desarrollo. Esta fue una de las conclusiones a las que llegó un estudio elaborado por Innpactia, una aplicación web que identifica y organiza miles de ofertas de apoyo con recursos a entidades e individuos que trabajan en iniciativas que buscan mejorar las vidas de las personas.
				div.Medios-btnContainer
					a(href="#")
						|	Leer más
			div.Medios-item
				div.Medios-img
					img(src="../images/05-medios/innova_social-logo.jpg")
				div.Medios-fecha
					div.Medios-line
					div.Medios-date
						|	ARTICULOS | 2015
				div.Medios-content
					h3.Medios-title
						|	El Apoyo Financiero Está Ahí, Pero No Se Aprovecha
					p
						|	¿Cómo financiar y reunir el apoyo que requieren emprendedores sociales para avanzar en sus iniciativas? ¿Dónde están esos recursos y cómo atraerlos hacia los mejores proyectos?.
				div.Medios-btnContainer
					a(href="#")
						|	Leer más
			div.Medios-item
				div.Medios-img
					img(src="../images/05-medios/el_tiempo-logo.jpg")
				div.Medios-fecha
					div.Medios-line
					div.Medios-date
						|	TECNOSFERA | 2015
				div.Medios-content
					h3.Medios-title
						|	También se muestran aplicaciones móviles como Innpactia,
					p
						|	Un proyecto cuyo foco es brindar acceso a información de becas y convocatorias de formación para colegios y universidades, y Witsbee, un conjunto de más de 40 herramientas educativas para diseñar actividades de apoyo pedagógico, como sopas de letras, sudokus y crucigramas.
				div.Medios-btnContainer
					a(href="#")
						|	Leer más