section.Contact
	div.u-centrar
		div.Contact-form
			form
				p.Contact-txt
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quidem, deserunt. Expedita soluta quo, ipsa perferendis debitis harum! Dolore illo soluta quod beatae nostrum. Inventore, iusto, tempora. Fugiat, quis, neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quibusdam minima nulla sint, ullam vel eos iusto. Quisquam incidunt nesciunt sint cum esse similique iure ex cumque iusto! Quae, voluptatibus?
				p.Contact-txt
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque blanditiis nam, ad odio, quas facere! Quisquam laudantium, iure, est reprehenderit quaerat distinctio, ea odio, quibusdam consequuntur dolorum qui saepe.

				fieldset.Contact-field
					input.Contact-input(type="text",placeholder="Nombre (requerido)")
					input.Contact-input(type="text",placeholder="Email (requerido)")
					select.Contact-input.Contact-select(type="text")
						option.Contact-op(value="Organización")
							|	Organización
						option.Contact-op(value="Value1")
							|	Value1
						option.Contact-op(value="Value2")
							|	Value2
				textarea.Contact-txtArea(placeholder="Mensaje")

				div.Contact-btnContainer
					input.Contact-btn(type="submit" value="Enviar")