section.SliderColor
	div.u-centrar
		div.SliderColor-item
			div.SliderColor-izq
				img.SliderColor-img(src="../images/01-index/reduc-desigual.png")
			div.SliderColor-der
				p.SliderColor-txt
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero labore a expedita iusto laudantium obcaecati blanditiis, tempore asperiores sequi ratione ex rerum quia, aliquam incidunt. Est earum non adipisci.