section.Contact#contacto
	div.u-centrar
		form.Contact-form

			fieldset.Contact-field
				input.Contact-input(type="text",placeholder="Nombre (requerido)")
				input.Contact-input(type="text",placeholder="Email (requerido)")
				input.Contact-input(type="text",placeholder="Organización")

			textarea.Contact-txtArea(placeholder="Mensaje")

			div.Contact-btnContainer
				input.Contact-btn(type="submit" value="Enviar")
			include ../RedesInt/template.jade