/*Header*/
.Header
	display inline-block
	width 100%
	background $white
	// position relative
	position fixed
	left 0
	right 0
	top 0
	z-index 30
	
	&-logoLink
		display inline-block
		cursor pointer
		width 45px
		height 42px
		background url('../images/01-index/logo-mobile.png') center no-repeat
		margin 0
		margin-left 10px
		
	&-logo
		margin 0
		text-indent -9999px
	&-menu		
		float right
		margin 0
		padding 0
		border 0
		vertical-align baseline
		box-sizing border-box
	&-menuList
		list-style none
		padding 0
		margin 0 0
		overflow-x hidden
		display none
		position absolute
		top 46px
		left 0
		right 0
		z-index 99999
		background $blue
		overflow-y scroll
		height 80vh
	&-menuItem
		display inline-block
		margin 0
		float left
		width 100%	
		&:hover
			background $blue8
		& a
			cursor pointer
			line-height 42px
			padding 0 23px
			color $white
			font-weight 400
			font-size .75em
			display inline-block
			
	&-menuLink
		cursor pointer
		line-height 42px
		padding 0 23px
		color $white
		font-weight 400
		font-size .75em
		display inline-block		
	&-barras
		display inline-block
		float right
	&-bar
		display inline-block
		width 50px
		height 4px
		float left
		
	&-menuBtn
		cursor pointer
		float right
		display inline-block
		clear both
		& .Header-menuLink
			color $blue
		&:hover
			background $blue
			.Header-menuLink
				color $white
		
.fa-bars
	margin-left 0.65em
	
@media screen and (min-width:480px)
	.Header
		&-logoLink
			width 150px
			height 42px
			background url('../images/01-index/logo-innpactia.png') center no-repeat
		&-bar
			width 60px
@media screen and (min-width:720px)
	.Header
		height 60px
		line-height 60px
		&-menu
			line-height 56px
		&-menuList
			list-style none
			padding 0
			margin 0 0
			overflow-x hidden
			display inline-block !important
			float right
			clear both
			background $white
			position static
			overflow-y hidden
			height auto
			
			& li
				box-sizing border-box
				height 56px
			
		&-menuItem
			width auto
			&:hover
				border-top 4px outset #767676
				background transparent
				// background $blue
				// & a
				// 	color $white
			& a
				color $blue
		&-menuLink
			color $blue

		&-menuBtn
			display none !important
		&-bar
			width 90px	
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.Header
		height 60px
		line-height 60px
		&-logoLink
			width 188px			
			height 46px
			background url('../images/01-index/logo-innpactia.png') center no-repeat
			vertical-align middle
		&-menu
			line-height 56px
		&-menuList
			list-style none			
			overflow-x hidden
			display inline-block
		&-menuItem
			display inline-block
			margin 0
			& a
				font-size .99em		
		&-menuLink			
			font-size .99em
		&-bar
			width 140px