/*Header*/
.Header
	display inline-block
	width 100%	
	background $white
	
	&-logoLink
		display inline-block
		cursor pointer
		width 45px
		height 42px
		background url('../images/01-index/logo-mobile.png') center no-repeat
		margin 0
		margin-left 10px
		
	&-logo
		margin 0
		text-indent -9999px
	&-menu
		// display inline-block
		float right
		margin 0
		padding 0
		border 0
		vertical-align baseline
		box-sizing border-box
	&-menuList
		list-style none
		padding 0
		margin 0 0
		overflow-x hidden
		display inline-block
	&-menuItem
		display inline-block
		margin 0
		float left
		// width 100%
		&:hover
			background $blue
			.Header-menuLink
				color $white
	&-menuLink
		cursor pointer
		line-height 42px
		padding 0 23px
		color $blue
		font-weight 400
		font-size .75em
		display inline-block
		// width 90%
		// padding 1em
.fa-bars
	margin-left 0.65em
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.Header
		&-logoLink
			width 188px
			height 60px
			background url('../images/01-index/logo-innpactia.png') center no-repeat
		&-menuList
			list-style none
			// padding 0
			// margin 1em 0
			overflow-x hidden
			display inline-block
		&-menuItem
			display inline-block
			margin 0			
		&-menuLink
			color $blue
			font-weight 400
			font-size .99em		
			display inline-block