header.Header
	a.Header-logoLink(href="#")
		h1.Header-logo
			|	Innpactia
	nav.Header-menu
		div.Header-barras
			div.Header-bar.bg-blue2
			div.Header-bar.bg-blue3
			div.Header-bar.bg-blue4
			div.Header-bar.bg-blue5
			div.Header-bar.bg-blue8
		ul.Header-menuList
			li.Header-menuItem
				a.Header-menuLink(href="#")
					|	Registrate
			li.Header-menuItem
				a.Header-menuLink(href="#")
					|	Inicia Sesión
			li.Header-menuItem
				a.Header-menuLink(href="int_preguntas.html")
					|	¿Tienes preguntas?
			//- li.Header-menuItem.Header-menuBtn
			//- 	a.Header-menuLink
			//- 		span.Header-menuItemText
			//- 			|	Menú
			//- 		span(class="fa fa-bars")
		div.Header-menuBtn
			a.Header-menuLink
				span.Header-menuItemText
					|	Menú
				span(class="fa fa-bars")