header.Header
	a.Header-logoLink(href="#")
		h1.Header-logo
			|	Innpactia
	nav.Header-menu
		ul.Header-menuList
			li.Header-menuItem.u--ocultar
				a.Header-menuLink(href="#")
					|	Registrate
			li.Header-menuItem
				a.Header-menuLink(href="#")
					|	Inicia Sesión
			li.Header-menuItem.u--ocultar
				a.Header-menuLink(href="#")
					|	¿Necesitas ayuda?
			li.Header-menuItem.Header-menuBtn
				a.Header-menuLink(href="#")
					span.Header-menuItemText
						|	Menú
					span(class="fa fa-bars")