/*REGISTRO*/

.Registro
	max-width 362px
	padding 23px

	& p
		text-align justify
		
	& p .Registo-input		
		width 100%
		border 1px solid $blue5
		padding .5rem
		color $gray
		font-size 0.81rem
		font-weight 400
		
	&-btn		
		color $white
		background $blue
		border none
		border 2px solid $blue5
		
	&-input		
		width 100%
		border 1px solid $blue5
		padding .5rem
		color $gray
		font-size 0.81rem
		font-weight 400	
		
		&::-webkit-input-placeholder
			color $blue5
		&::-moz-placeholder
			color $blue5
		&:-moz-placeholder
			color $blue5
		&:-ms-input-placeholder
			color $blue5
	
	

@media only screen and (min-width: 641px)
	.Registro
		max-width 362px
		padding 23px