div.Registro.remodal(data-remodal-id="modal-registro")
	button.remodal-close(data-remodal-action="close")
	p
		|	Si deseas conocer más sobre nosotros o ampliar información de nuestros servicios diligencia el siguiente formulario.
	div.Registo-form
		p
			input.Registo-input(type="text",placeholder="Email (requerido)")
		p
			input.Registro-check(type="checkbox", name="terminos" value="acepta" checked)
			|	Acepto términos y condiciones
		p
			input.Registro-btn(type="submit", value="Enviar")