/*FOOTER INTERNA*/

.FootInt
	display inline-block
	width 100%
	position fixed
	bottom 0
	left 0
	right 0
	border-top 3px solid $blue5
	box-shadow 0 -3px 0 $blue
	height 62px
	line-height 62px
	background $white

	&-logoLink
		cursor pointer
		display inline-block
		cursor pointer
		// width 150px
		// height 42px
		background url('../images/01-index/logo-innpactia.png') center no-repeat		
		margin 0
		margin-left 10px
		
	&-logo
		margin 0
		text-indent -9999px
	&-menu		
		float right
		margin 0
		padding 0
		border 0
		vertical-align baseline
		box-sizing border-box
	&-menuList
		list-style none
		padding 0
		margin 0 0
		overflow-x hidden
		display inline-block
		float right
		clear both
	&-menuItem
		display inline-block
		margin 0
		float left
		&:hover
			background $blue
			.FootInt-menuLink
				color $white
		&:nth-last-child(2)
		&:nth-last-child(1)
			.FootInt-menuLink
				border-right none
	&-menuLink
		cursor pointer
		line-height 34px
		padding 0 10px
		color $blue
		font-weight 400
		font-size .75em
		display inline-block
		border-right 1px solid $blue		
		
		& .fa.fa-bars
			margin 0
	&-menuBtn
		& .FootInt-menuLink
			font-size 2em
			line-height inherit
		
@media screen and (min-width:720px)
	.FootInt		
		&-menuBtn
			display none !important
		&-menuItem
			display inline-block
		
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.FootInt
		&-logoLink
			// width 188px
			// height 46px
			background url('../images/01-index/logo-innpactia.png') center no-repeat
			margin-left 20px
		&-menuList
			list-style none
			overflow-x hidden
			display inline-block
		&-menuItem
			display inline-block
			margin 0
		&-menuLink
			font-size .99em
			padding 0 20px
@media screen and (min-width:1280px)
	.FootInt
		&-menuLink
			padding 0 30px