footer.FootInt
	a.FootInt-logoLink(href="index.html")
		h1.FootInt-logo
			|	Innpactia
	nav.FootInt-menu
		ul.FootInt-menuList
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#")
					|	Nosotros
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#")
					|	Aliados
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#")
					|	Blog
			li.FootInt-menuItem
				a.FootInt-menuLink(href="int_planes.html")
					|	Planes
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#")
					|	Innpactia en los medios
			li.FootInt-menuItem
				a.FootInt-menuLink(href="int_trabaja.html")
					|	Trabaja con nosotros
			li.FootInt-menuItem
				a.FootInt-menuLink(href="int_contacto.html")
					|	Contacto
		div.FootInt-menuBtn
			a.FootInt-menuLink
				span(class="fa fa-bars fs-2x")