footer.FootInt
	a.FootInt-logoLink(href="index.html")
		h1.FootInt-logo
			|	Innpactia
	nav.FootInt-menu
		ul.FootInt-menuList
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#nosotros")
					|	Nosotros
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#aliados")
					|	Aliados
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#blog")
					|	Blog
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#planes")
					|	Planes
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#medios")
					|	Innpactia en los medios
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#trabaja")
					|	Trabaja con nosotros
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#preguntas")
					|	¿Tienes preguntas?
			li.FootInt-menuItem
				a.FootInt-menuLink(href="#contacto")
					|	Contacto
		div.FootInt-menuBtn
			a.FootInt-menuLink
				span(class="fa fa-bars fs-2x")